.container {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    column-gap: 50px;
    row-gap: 100px;

    &__personal-info {
        .photo { 
            position: relative; 
            width: 450px; 
        
            &__image {
                border-radius: 50px;
                width: 100%;
            }
        
            &::before {
                content: '';
                position: absolute;
                inset: -5px; 
                border: 2px var(--accent-color) solid;
                border-radius: 55px; 
                rotate: -8deg;
                transition: rotate 0.3s ease-in-out; 
            }
        }
    }
}

@media (max-width: 1300px) {
    .container {
        grid-template-columns: 430px 430px;
        column-gap: 40px;
    }
  }

@media (max-width: 960px) {
    .container {
        display: flex;
        flex-direction: column;
        row-gap: 50px;  

        &__personal-info {
            .photo { 
                width: 300px; 
            
                &__image {
                    border-radius: 40px;
                }
            
                &::before {
                    border-radius: 45px; 
                }
            }
        }
    }
  }
  