.title {
    background-color: var(--accent-color);
    border-radius: 30px;
    color: white;
    padding: 10px 30px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    white-space: nowrap; 
    font-family: 'Wellingtons-Bold', sans-serif;
}