@forward "blocks/contacts.scss";
@forward "blocks/container.scss";
@forward "blocks/description.scss";
@forward "blocks/icon.scss";
@forward "blocks/line.scss";
@forward "blocks/name.scss";
@forward "blocks/page.scss";
@forward "blocks/title.scss";

@import '../css/variables/variables.css';

@font-face {
    font-family: 'Wellingtons-Regular';
    src: url('../../assets/fonts/Wellingtons-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Wellingtons-Bold';
    src: url('../../assets/fonts/Wellingtons-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Lovelies';
    src: url('../../assets/fonts/Lovelies.otf') format('opentype');
}



















